:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(238, 77, 45);
    --border-color: #dbdbdb;
    --star-gold-color: #FFCE3E;
    --navbar-height: 34px;
    --header-height: 120px;
}

*{
    font-family: roboto,sans-serif;
    font-size: 15px;
    
}

body {
    padding: 0;
    margin: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  .grid__full-width {
    width: 100%;
    box-sizing: border-box;
  }
  
  .grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    box-sizing: border-box;
  }
  
  .grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
    box-sizing: border-box;
  }
  
  .grid__column-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
    box-sizing: border-box;
  }
  .grid__column-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.34%;
    box-sizing: border-box;
  }
  
  .grid__column-5 {
    padding-left: 5px;
    padding-right: 5px;
    width: 41.67%;
    box-sizing: border-box;
  }
  .grid__column-6 {
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
    box-sizing: border-box;
  }
  .grid__column-7 {
    padding-left: 5px;
    padding-right: 5px;
    width: 58.34%;
    box-sizing: border-box;
  }
  
  .grid__column-8 {
    padding-left: 5px;
    padding-right: 5px;
    width: 66.67%;
    box-sizing: border-box;
  }
  
  .grid__column-9 {
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
    box-sizing: border-box;
  }
  
  .grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
    box-sizing: border-box;
  }
  
  .grid__column-11 {
    padding-left: 5px;
    padding-right: 5px;
    width: 91.67%;
    box-sizing: border-box;
  }
  
  .grid__column-12 {
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* show 5 column: 12/5=2.4 (before use this column take it into grid-row) */
  .grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
    box-sizing: border-box;
  }
  
