/* Below tablet: Mobile */
@media screen and (max-width: 739px) {
}

/* Tablet -PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Large screen*/
@media screen and (min-width: 1024px) {
}

/* ------------------------------------ */

/* header */
.navbar {
  background-color: white;
}

.navbar-brand {
  padding: 6.25px;
  box-sizing: border-box;
  max-width: 150px;
}

.navbar-brand img {
  vertical-align: middle;
  height: 100%;
  max-width: 100%;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar-nav form {
  border: 2px solid #ffc709;
  height: 50px;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
}

.navbar-nav form input:nth-child(1) {
  padding: 0 25px;
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  border: none;
}

.navbar-nav form input:nth-child(1):focus {
  outline: none;
}

.navbar-nav form input:nth-child(2) {
  padding: 0 25px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  border: none;
  background-color: white;
}

.navbar-nav form i:nth-child(3) {
  position: absolute;
  top: 15px;
  left: 210px;
  font-size: 18px;
  border: none;
}

.account {
  padding: 0 11px;
  font-size: 22px;
}

.account a i {
  font-size: 22px;
}

.nav-item {
  /*font-weight: bold;
  padding: 10px;
  font-size: 13px;*/
  margin: 0 8px;
  position: relative;
  padding: 10px 0;
  z-index: 5;
}

.nav-item a {
  font-weight: bold;
  padding: 10px;
  font-size: 13px;
  text-decoration: none;
}

.dropdown-menu {
  position: absolute;
  top: 137%;
  left: 0;
  padding: 0;
  width: max-content;
  background-color: white;
  padding: 10px 0;
  min-width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: none;
}

.dropdown-menu.dropdown-active {
  display: block;
}

.dropdown-menu__show {
  display: block;
}

.dropdown-item {
  /*text-decoration: none;*/
  list-style-type: none;
  padding: 10px 0px;
}

.dropdown-item a {
  padding: 5px 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.dropdown-item a:hover {
  background-color: #e9ecef;
}
.navbar-nav {
}

.container-fluid {
  display: flex;
  align-items: center;
  padding: 0 15px;
  /*line-height: 40px;*/
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/*homepage-banner*/
.home-page__banner {
  position: relative;
}

.banner {
}

.banner-image {
}

.banner-image a img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

/*searchbox*/
.searchbox {
  margin-top: -240px;
  z-index: 3;
  position: relative;
  margin-bottom: 60px;
}
.searchbox .container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.searchbox-nav {
  background-color: rgba(45, 66, 113, 0.8);
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: baseline;
  border-radius: 14px 10px 0 0;
  height: 100px;
}

.searchbox-nav__item {
  color: white;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: initial;
  font-size: 13px;
  font-weight: 700;
  padding: 20px 30px;
  border-radius: 10px 10px 0 0;
  line-height: 24px;
  position: relative;
  flex: 1;
  height: 100%;
}

/*.searchbox-nav__item.active {
  background-color: white;
  color: #4d4aef;
}*/



.searchbox-nav__item:hover {
  background-color: white;
  color: #4d4aef;
}

/*.searchbox-nav__item::after {
  
  display: table;
  content: "";
  

}*/

.searchbox-nav__item small {
  font-size: 13px;
  font-weight: 700;
  position: absolute;
  background-color: #dc3545;
  color: white;
  border-radius: 10px;
  font-size: 9.75px;
  padding: 3.4px 6.4px;
  line-height: 9.75px;
  top: 15px;
  right: 15px;
  list-style-position: outside;
}

.searchbox-nav__item i {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 10px;
}

.searchbox__panel {
}

.tab-pane__container {
  padding: 30px;
}

.searchbox-tour {
  margin-bottom: 20px;
}

.searchbox-tour__selector {
}

.searchbox-tour__selector ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  padding: 0;
}

.searchbox-tour__selector ul li {
}

.searchbox-tour__selector ul li button {
  /*border: none;*/
  border: 1px solid #ccc;
  margin: 0;
  padding: 10px 20px;

  margin-right: 20px;
  border-radius: 5px;
  color: black;
  line-height: 24px;
  background-color: white;
}

.searchbox-tour__selector ul li button:hover {
  cursor: pointer;
}
.searchbox-tour__selector .active {
  background-color: #4d4aef;
  color: white;
}

.searchbox-tour__inbound {
}

.searchbox-tour__inbound__nav {
  margin-bottom: 30px;
}

.searchbox-tour__inbound__nav .nav-tabs {
  border-bottom: 1px solid #dee2e6;
  font-size: 15px;
}

.searchbox-tour__inbound__nav .nav-tabs button {
  padding: 10px 20px;
  border: 1px solid transparent;
  box-sizing: border-box;
  line-height: 24px;
  background-color: white;
  font-weight: 700;
}

.searchbox-tour__inbound__nav .nav-tabs button:hover {
  box-sizing: border-box;
  border: 1px solid #e9ecef !important;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.nav-tabs .nav-link.active {
  border-color: #fff;
  border-bottom: 2px solid #4d4aef;
  color: #4d4aef;
}
.nav-tabs .nav-link.active:hover {
  border-color: transparent !important;
  border-bottom: 2px solid #4d4aef !important;
}

.grid.container {
  /*padding: 30px 15px;*/
}

.destination-selector {
  flex-wrap: nowrap;
}

.input-search-location {
  border: 5px solid #ffc709;
  box-sizing: border-box;
  padding: 5px 10px;
  line-height: 1.25;
  border-radius: 10px;
}

.input-search-location .icon {
  padding: 20px;
}

.input-search-location .icon i {
  font-size: 24px;
}

.input-search-location .text {
}

.input-search-location .text label {
  margin-bottom: 5px;
  font-size: 13px;
}

.input-search-location .text span {
  line-height: 28px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}

.destination-selector .exchange-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.destination-selector .exchange-icon i {
  font-size: 34px;
  /*font-weight: 400;*/
}

.tab-pane .btn-arrow {
}

.tab-pane .btn-arrow button {
  padding: 10px 16px;
  border: 1px solid transparent;
  background-color: #053c5c;
  line-height: 45px;
  border-radius: 10px;
  cursor: pointer;
}

.tab-pane .btn-arrow button i {
  color: #ffc709;
  font-size: 40px;
  vertical-align: middle;
}

.searchbox__panel.fade {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

/* Main section */
.main-section > .container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* home page explore */
.home-page__explore-tour {
}

.home-page__title {
  font-weight: 700;
  font-size: 30px;
  color: #2d4271;
  line-height: 40px;
}

.explore-tour__list {
  height: 312px !important;
}

.explore-tour-slide {
  height: 100%;
  touch-action: pan-y;
  position: relative;
}

.slick-list {
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: relative;
  opacity: 1;
}

.slick-slider {
  user-select: none;
  touch-action: pan-y;
}

.draggable {
}

.slick-track {
  display: block;
  width: 1548px;
  transform: translate3d(0px, 0px, 0px);
  position: relative;
  top: 0;
  left: 0;
  opacity: 1;
  user-select: none;
}

.explore-tour__item {
  width: 228px !important;
  padding-right: 20px;
  margin-right: 30px;
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  flex-direction: row;
  overflow-wrap: normal;
  user-select: none;
}

.explore-tour__item__image {
  position: relative;
  height: 312px;
  border-radius: 10px;
  width: 208px;
}

.explore-tour__item__image a img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  right: unset;
  bottom: unset;
  object-fit: cover;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.card-img-overlay {
  position: absolute;
  top: unset;
  bottom: 0;
  background: linear-gradient(180deg, rgba(45, 66, 113, 0) 0%, #2d4271 100%);
  padding: 20px;
  border-radius: 10px;
}

.card-title {
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 26px;
}

.card-title a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 25px;
  margin: 0;
}

/* Last deal */
.home-page__last-deal {
}

.last-deal .container {
  /*padding: 30px 15px 0 15px;*/
}

.tour-item {
  border-radius: 10px;
  border: 1px solid #dddfe2;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.tour-item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transform: translate(0, -3px);
}

.tour-item__image {
  position: relative;
}

.tour-item__image a img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.tour-item .card-body {
  padding: 20px;
}

.tour-item__date {
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 24px;
}

.tour-item__title {
  margin-bottom: 5px;
  font-weight: 700;
}

.tour-item__title a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.tour-item__title a:hover {
  text-decoration: none;
  color: #0d6efd;
}

.tour-item__code {
  margin-bottom: 10px;
}

.tour-item__code div:first-child {
  font-size: 15px;
  line-height: 24px;
  color: #2d4271;
}

.tour-item__code div:last-child {
  font-size: 15px;
  line-height: 24px;
}

.tour-item__code div:last-child i {
  margin-right: 5px;
  font-size: 15px;
  line-height: 15px;
}

.tour-item__departure {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 24px;
}

.tour-item__price {
  margin-bottom: 10px;
}

.tour-item__price__wrapper {
  line-height: 24px;
  font-size: 15px;
}

.tour-item__price--old {
}

.tour-item__price--old span {
}

.tour-item__price--old__number {
  text-decoration-line: line-through;
}

.tour-item__price--current {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-item__price--current__number {
  color: #fd5056;
  font-size: 18px;
  font-weight: 700;
}

.tour-item__price--current__discount {
  background-color: #fd5056;
  font-size: 11px;
  font-weight: 700;
  border-radius: 5px;
  color: white;
  padding: 5px;
}

.tour-item__price__timer {
  border: 1px solid #4d4aef;
  color: #4d4aef;
  font-weight: 700;
  border-radius: 5px;
  font-size: 11px;
  text-align: center;
  padding: 10px 0;
}

.tour-item__price__timer span {
  color: #4d4aef;
  font-weight: 700;
  font-size: 11px;
  text-align: center;
}

.tour-item__footer {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.tour-item__footer__add-to-compare {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 24px;
}
.tour-item__footer__add-to-compare i {
  padding-right: 5px;
  font-size: 13px;
  color: #4d4aef;
}
.tour-item__footer__add-to-compare a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #4d4aef;
}

.tour-item__footer__available-seat {
  display: flex;
  align-items: center;
}

.tour-item__footer__available-seat--text {
  padding-right: 5px;
  line-height: 24px;
  font-size: 13px;
  font-weight: 700;
  text-decoration-line: underline;
}

.tour-item__footer__available-seat--number {
  font-size: 22px;
  font-weight: 700;
  color: #fd5056;
}

.tour-item .inner-icon__favorite {
  font-size: 22px;
  color: #fff;
  top: 5%;
  left: 3%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
  line-height: 24px;
}

.tour-item .inner-icon__favorite i {
  font-size: 22px;
  color: #fff;
  line-height: 22px;
}

.tour-item .inner-icon__favorite a {
}

.tour-item .inner-bottom {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
}

.tour-item .inner-bottom .inner__bottom__category {
  background: #fff;
  border-radius: 2px 2px 0 0;
  padding: 5px 10px;
  color: #4d4aef;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 2px;
  line-height: 24px;
}

.tour-item .inner-summary {
  position: absolute;
  top: 5%;
  right: 3%;
}

.tour-item .inner-summary__rating {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  line-height: 24px;
}

.tour-item .inner-summary__rating span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  background: #fdc432;
  width: 40px;
  height: 25px;
  position: relative;
  border-radius: 5px 5px 0 5px;
}

.tour-item .inner-summary__rating span::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid #fdc432;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
}

.tour-item .inner-summary__review {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px;
}

.tour-item .inner-summary__feedback {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: right;
}

.tour-item .inner-summary__care {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 5px;
}

/* home page see all */
.home-page__see-all {
  margin-top: 30px;
  text-align: right;
  line-height: 24px;
}
.home-page__see-all a button {
  padding: 10px 30px;
  border: 1px solid #ced4de;
  border-radius: 5px;
  line-height: 30px;
  font-size: 20px;
  font-weight: 700;
  color: #2d4271;
}

.home-page__see-all a button:hover {
  border: 1px solid #2d4271;
}

.home-page__see-all a button i {
  line-height: 13px;
  margin-left: 10px;
  font-size: 20px;
}

/* home page combo */

.home-page__combo {
}

.home-page__combo .container {
}

.product-item {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 30px;
  /*position: relative;*/
}

.product-item:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transform: translate(0, -3px);
}

.product-item__image {
  padding: 0;
}

.product-item__image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

.product-item__detail {
  padding: 20px;
  /*margin-bottom: 10px;*/
}

.product-item__detail__category {
  padding: 10px;
  background-color: #2d4271;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

.product-item__detail__category a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.product-item__detail__title {
  margin: 0 0 10px 0;
}

.product-item__detail__title a {
  text-decoration: none;
  color: #2d4271;
}
.product-item__detail__title a:hover {
  color: #0d6efd;
}

.product-item__detail__rating-star {
  margin-bottom: 10px;
}

.product-item__detail__rating-star .start-rating {
  display: inline-block;
}
.product-item__detail__rating-star .start-rating i {
  color: #fdc432;
}

.product-item__text {
  margin: 0 0 20px 0;
}
.product-item__text small {
  font-size: 13px;
  color: #6c757d;
}

.product-item__detail__review {
  margin-bottom: 20px;
  display: flex;
}

.product-item__detail__review--point {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item__detail__review--point span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  height: 40px;
  width: 40px;
  background-color: #fdc432;
  color: #fff;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  border-radius: 5px 5px 5px 0;
  margin-right: 11px;
  margin-bottom: 10px;
}

.product-item__detail__review--point span::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid #fdc432;
  top: 100%;
  z-index: 5;
  left: 0;
}

.product-item__detail__review--feedback {
}

.product-item__detail__review--feedback h6 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.product-item__detail__location {
  font-size: 12px;
  color: #4d4aef;
}

.product-item__detail__location i {
  font-size: 16px;
}

.product-item__summary {
  padding: 20px;
  position: relative;
}

.product-item__summary::before {
  display: block;
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  height: calc(100% - 30px);
  width: 0.5px;
  background-color: #d8d8d8;
}

.product-item__summary {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.product-item__summary__price .price-min {
  font-size: 15px;
  font-weight: 700;
  text-align: right;
}

.product-item__summary__price {
}

.product-item__summary__price--current {
  text-align: right;
}

.product-item__summary__price--current__number {
  font-size: 20px;
  font-weight: 700;
  color: #fd5056;
  display: inline;
}

.product-item__summary__price--current_text {
  display: inline;
  font-size: 15px;
}

.product-item__summary__price--text {
  margin: 0 0 20px 0;
  text-align: right;
}

.product-item__summary .grid-modify__padding {
  padding: 0 15px;
}
.product-item__summary .grid-modify__margin {
  margin: 0 -15px;
  margin-bottom: 20px;
}

.product-item__btn--other-date {
  padding: 5px 10px;
  border: 1px solid #4d4aef;
  color: #4d4aef;
  font-size: 12px;
  display: inline;
  float: right;
  border-radius: 5px;
  line-height: 18px;
  cursor: pointer;
}

.product-item__btn--other-date:hover {
  background-color: #4d4aef;
  color: white;
}

.product-item__btn--order-now {
  float: right;
  text-decoration: none;
  background-color: #fd5056;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  line-height: 26.25px;
  font-weight: 400;
}

.product-item__btn--order-now:hover {
  border-color: #ca4045;
  background-color: #d74449;
}

.product-item__btn--order-now label {
  font-size: 17.5px;
}

.product-item__summary__price-promotion {
  color: #4d4aef;
  text-align: right;
  font-weight: 400;
  margin: 0 0 10px;
}

/* home page destination */
.home-page__destination {
}

.home-page__destination .container {
}

.destination-item {
}

.destination-item__img a img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.destination-item .card-body {
  padding: 20px;
}

.destination-item__title {
  margin: 0 0 10px;
}

.destination-item__title a {
  text-decoration: none;
  color: #2d4271;
  font-size: 17px;
  font-weight: 700;
}

.destination-item__title a:hover {
  color: #4d4aef;
}

.destination-item__description {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}

/* home page why  viettravel*/

.home-page__why-vietravel {
}

.home-page__why-vietravel .container {
}

.why-item {
  margin-bottom: 40px;
  text-align: center;
}

.why-item i {
  /*background-image: linear-gradient(180deg,#4d4aef,#adabff);*/
  color: #2d4271;
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 20px;
}

.why-item__title {
  font-weight: 700;
  font-size: 17px;
  color: #2d4271;
  margin: 0 0 20px;
}

.why-item .card-text {
  margin: 0 0 5px;
  font-size: 15px;
}

/* Footer */

footer {
  background-color: #f9f9f9;
  padding-top: 45px;
}

.footer-top .container {
  max-width: 1320px;
}

.footer-top__element {
}

.footer-top__block {
  margin-bottom: 40px;
}

.footer-top__element.two-line {
  display: flex;
  flex-wrap: wrap;
}

.footer-top__element.one-line {
}

.footer-top__element--title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  margin: 0 0 10px;
}

.footer-top__element .menu {
  width: 40%;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.footer-top__element .menu-item {
  list-style-type: none;
}

.footer-top__element .menu-item a {
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  color: #2d4271;
}

.ft-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ft-app img {
  max-width: 100%;
}

.mb-app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mb-app p {
  font-size: 13px;
  margin: 0 0 10px;
}

.mb-app img {
  max-width: 100%;
}

.contact-info {
  font-size: 13px;
  line-height: 30px;
  font-weight: 300;
}

.social {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-item {
  list-style-type: none;
  margin: 0;
  padding: 0 20px 0 0;
}

.social-item a {
}

.social-item a i {
  font-size: 25px;
  color: #2d4271;
}

.call-action {
  padding-top: 10px;
}

.call-action a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 50px;
  background-color: #fe291e;
  color: #fff;
  border-radius: 10px;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
}

.call-action a i {
  /*background-color: #fe291e;*/
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  padding-right: 5px;
}

.time-active {
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 30px;
}

.newsletter.form {
  width: 100%;
}

.footer-top__element form {
  margin-bottom: 15px;
  border: 1px solid #7d8fab;
  height: 40px;
  max-width: 323px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
}

.footer-top__element form input:nth-child(1) {
  height: 100%;
  width: 100%;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 400;
}

.footer-top__element form input:nth-child(1):focus {
  outline: none;
}

.footer-top__element form input:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  height: 100%;
  width: 50px;
  border: none;
  background: 0 0;
  border-left: 1px solid #7d8fab;
  cursor: pointer;
}

.footer-top__element form i:nth-child(3) {
  position: absolute;
  top: 50%;
  right: 13px;
  -webkit-transform: translateY(-50%);
  z-index: 6;
  pointer-events: none;
  font-size: 18px;
  color: #2d4271;
  cursor: pointer;
}

.search.form {
}

.securi-payment {
  display: flex;
  /*justify-content: flex-start;*/
}

.securi {
  max-width: 178px;
}

.securi a {
}

.securi a img {
  margin-bottom: 12px;
  max-width: 100%;
}

.payment {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 260px;
  padding-left: 43px;
  justify-content: space-between;
  max-width: 260px;
  box-sizing: border-box;
}

.payment img {
  width: 33%;
  padding: 5px 15px;
  max-width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
}

/* Tab */

.tab {

}

.tab-item {

}

.tab-item.active {
  background-color: white;
  color: #4d4aef;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

